* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Andika New Basic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}
li {
  padding: 0 1rem;
}

.FancyBorder-blue {
  color: blue;
}

.FancyBorder-red {
  color: red;
}